@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;600;700&display=swap');

/* ------------------------------
GENERAL
------------------------------ */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #333333;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.8em;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {font-family: 'Courgette', cursive;}
h1 {font-size: 70px;}
img {max-width: 100%;}
a, a:link, a:visited, a:active {color: #eeeeee; text-decoration: none;}
a:hover {color: #eeeeee; text-decoration: none;}

::-moz-selection {background-color: #222222; color: #ffffff;}
::selection {background-color: #222222; color: #ffffff;}

a.btn-primary {
	padding: .35rem 1.25rem;
	background: #eeeeee;
	color: #222222;
	border: solid 2px #ffffff;
	border-radius: 0;
	font-weight: 500;
	transition: all .75s ease;
}

a.btn-primary:hover {
	background: #222222;
	color: #eee;
	border-color: #101010;
}

/* ------------------------------
HEADER
------------------------------ */

.header {
	position: relative;
	height: 70px;
	border-bottom: solid 1px rgba(255,255,255,.25);
	z-index: 1;
}

.header-logo {
	position: absolute;
	margin: 0;
	bottom: -10px;
	left: calc(50% - 35px);
	width: 70px;
}

.header nav {height: 70px;}

.header-nav {
	display:flex;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
}

.header-nav.nav-icon {justify-content: flex-end;}

.header-nav li {
	display: flex;
	margin: 0 15px;
	font-size: 14px;
	font-weight: 600;
	align-items: center;
}

.header-nav.nav-icon li {font-size: 20px;}
.header-nav li a {color: #ffffff; opacity: .85; transition: all .25s ease;}
.header-nav li a:hover {text-decoration: underline; opacity: 1;}

/* ------------------------------
HERO / TITLE
------------------------------ */

.hero {
	margin-top: -70px;
	height: calc(100vh - 230px);
	background: #eeeeee url(../images/bg-hero.jpg) center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
}

.hero .row, .hero-wrapper {display: flex; height: 100%;}

.hero-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero-content {
	display: flex;
	margin: auto 0;
	padding: 0 30px;
	text-align: left;
	flex-direction: column;
}

.hero-title {
	width: 400px;
	margin: 0;
	padding: 5px 20px;
	background: rgba(77, 58, 80, 0.75);
	text-align: center;
	text-shadow: 5px 3px 0px rgba(0,0,0,.2);
	transform: translateX(-30px) rotate(-5deg);
}
.tagline {
	max-width: 680px;
	margin: 0;
	padding: 10px 20px;
	background: rgba(255,255,255,.75);
	color: #42334b;
	font-size: 18px;
	font-weight: 600;
	transform: translateX(30px) rotate(-5deg);
}

/* ------------------------------
CONTENT
------------------------------ */

.index-content {height: 230px;}
.index-content div {height: 100%;}

.cta {padding: 0;}
.card {display: flex; border: none; border-radius: 0; align-items: center;}
.cta-tips .card {background: #ef6c00 url(../images/bg-cta01.jpg) left top no-repeat;  background-size: cover;}
.cta-items .card {background: #558b2f url(../images/bg-cta02.jpg) right top no-repeat; background-size: cover;}
.card-body {display: flex; height: auto; flex-direction: column; justify-content: center; align-items: center;}
.card-title {padding: 0 10px; margin-bottom: .5rem;}

/* ------------------------------
FOOTER
------------------------------ */



/* ------------------------------
MEDIA QUERIES
------------------------------ */

@media (min-width: 769px) {
	.btn-mobilenav {display: none;}
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
	header .col-6.left {display: flex; align-items: center;}

	.btn-mobilenav {
		display: block;
		width: 40px;
		height: 40px;
		padding: 0;
		align-self: center;
		background: none;
		font-size: 20px;
		color: #eeeeee;
		border: none;
		border-radius: 3px 3px 0 0;
	}
	.btn-mobilenav:focus {outline: none; box-shadow: none}
	.btn-mobilenav[aria-expanded="true"] {background: rgba(255, 255, 255,.95);color: #222;}

	.header-nav.nav-text {
		display: none;
		position: absolute;
		top: 55px;
		left: 15px;
		width: 260px;
		height: auto;
		background: rgba(255, 255, 255,.95);
		flex-direction: column;
		border-radius: 0 3px 3px 3px;
		box-shadow: 3px 3px 3px rgba(0,0,0,.15);
		z-index: 2;
	}
	.header-nav.nav-text.show {display: block;}
	.header-nav.nav-text li {padding: 10px;}
	.header-nav.nav-text li:not(:last-child) {border-bottom: solid 1px #eee;}
	.header-nav.nav-text li a {color: #222;}
}

@media (max-width: 414px) {
	.hero {padding-top: 50px; height: calc(100vh - 340px);}
	h1.hero-title {width: 280px; font-size: 46px;}
	.tagline {max-width: 360px; font-size: 14px; line-height: 1.4em; transform: translateX(20px) rotate(-5deg);}
	.index-content {height: 170px;}
	.cta .card-title {margin-bottom: 15px;}
	.cta .card-text {display: none;}
}